.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 300px;
    height: 300px;
    margin: auto;
    /* text-align: center; */
    font-family: arial;
    padding: 30px;
    margin: 20px;
    border-radius: 10px;
}

.price {
    color: grey;
    font-size: 19px;
}

.card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    /* position: fixed; */
    margin-top: 200px;
    border-radius: 20px;
}

.card button:hover {
    opacity: 0.7;
}