/* @import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

* {
    font-family: -apple-system, BlinkMacSystemFont, Ubuntu, "Segoe UI", Roboto,
        Oxygen, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    padding: 0;
    margin: 0;
} */


.body {
    background-color: #36393e;
    color: #fff;
    height: 100vh;
    display: grid;
    grid-template-columns: 20% auto 20%;
}

.chatwrapper {
    height: 100%;
}

.chatbox {
    height: 90%;
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 8px;
}

.chatmessage {
    width: 100%;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    display: grid;
    grid-template-columns: 65px auto;
}

.chatmessage:hover {
    background-color: #27292e;
}

.messagetime {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    opacity: 50%;
    font-size: 12px;
    margin-right: 5px;
    margin-top: 0;
    margin-bottom: 0;
}

.chatmessage:hover>.messagetime {
    visibility: visible;
}

.messageuser {
    display: flex;
    flex-direction: column;
}

.username {
    margin-right: 15px;
    color: #50c878;
    font-weight: bold;
    letter-spacing: 1px;
}

.usertime {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}

.formwrapper {
    height: 100%;
    position: fixed;
    width: 60%;
}

.messageform {
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #40444d;
    border-radius: 5px;
    flex-grow: 2;
    height: 40px;
}

.message {
    height: 30px;
    padding: 5px;
    padding-left: 10px;
    outline: none;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    color: #fff;
    flex-grow: 2;
    background-color: transparent;
}

.send {
    text-align: center;
    height: 40px;
    min-width: 50px;
    border: none;
    border-radius: 5px;
    margin: 0;
    font-size: 16px;
    background-color: transparent;
    color: #fff;
    opacity: 50%;
    transition: 0.3s;
}

.send:hover {
    cursor: pointer;
    opacity: 75%;
}

/* ::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #121214;
    border-radius: 10px;
} */